body {
	background-color: #5D8DC5;
}

#nav > li {
	display:  inline-block;
  	padding-right:  2.5%;
}


li > a {
	font-family:  Verdana;
	font-size: 0.8em;
	color:  white;
	text-decoration:  none;
	line-height: 2.5em;
}

#ueberblick {
	float:  right;
}

#navbar {
	background-color: #4371A3;
	height: 2em;

}

td {
	border-style: solid;
}